 @if(TempData["Mesaj"]!= null){
        <div id="tempMessage" class="alert alert-success alert-dismissible fade show text-center mb-0" role="alert">
        @TempData["Mesaj"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <script>
        setTimeout(function () {
            var message = document.getElementById('tempMessage');
            if (message) {
                message.classList.remove('show'); 
                setTimeout(function () {
                    message.remove();
                }, 500);
            }
        }, 5000);
    </script>
    }